nav {
  position: fixed;
  top: 0;
  left: 0;

  a, a:hover {
    color: var(--color-text);
  }
}

main {
  width: 100%;
  padding-block: 64px;
  max-width: 1400px;
  margin-inline: auto;
  text-align: center;
  container-type: inline-size;
}

.card {
  --radius: 8px;
  border-radius: var(--radius);
  padding: var(--radius);
  position: relative;

  &:has(.card) {
    --radius: 16px;
  }
}

.gallery {
  --column-count: 4;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(var(--column-count), 320px);
  justify-content: center;
}

@container(width < 1380px) {
  .gallery {
    --column-count: 3;
  }
}

@container(width < 1080px) {
  .gallery {
    --column-count: 2;
  }
}

@container(width < 720px) {
  .gallery {
    --column-count: 1;
  }
}

.image-thumb {
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid;
}

.movie-gallery-card {
  --badge-bg-color: rgb(0 0 0 / 100%);
  color: var(--color-text);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:hover {
    color: var(--color-text);
  }

  .user-score-badge {
    position: absolute;
    background-color: var(--badge-bg-color);
    color: #fff;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    padding: 8px;
    aspect-ratio: 1/1;
    display: flex;
    place-items: center;
  }

  .genre-badge {
    position: absolute;
    bottom: 8px;
    padding: 4px 8px;
    font-size: 0.8em;
    right: 8px;
    white-space: nowrap;
    background-color: var(--badge-bg-color);
    color: #fff;
  }

  .year-badge {
    position: absolute;
    bottom: calc(8px + 1lh);  /* I am just happy to get the opportunity to use the 'lh' unit */
    padding: 4px 8px;
    font-size: 0.8em;
    right: 8px;
    white-space: nowrap;
    background-color: var(--badge-bg-color);
    color: #fff;
  }
}

.button-group {
  display: flex;
  gap: 8px;
  justify-content: center;
}

nav {
  z-index: 999;
  background-color: var(--color-bg-accent);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 32px;
  position: fixed;
  width: 20ch;
  min-height: 2em;
  border-radius: 0 12px 12px 0;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  transition: translate 300ms ease-in-out;
  border-left-width: 0;

  &.collapsed {
    translate: -100% -50%;
  }
}

.nav-handle {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 4em;
  width: 4em;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: transparent;
  height: 32px;
  aspect-ratio: 1/1;
  padding: 0;
  place-content: center;
}

.filter-panel {
  z-index: 999;
  background-color: var(--color-bg-accent);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 32px;
  position: fixed;
  width: 32ch;
  min-height: 2em;
  border-radius: 12px 0 0 12px;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  transition: translate 300ms ease-in-out;
  border-right-width: 0;

  &.collapsed {
    translate: 100% -50%;
  }

  &>* {
    margin: 0;
  }
}

.filter-handle {
  z-index: 99;
  position: fixed;
  right: 0;
  top: 50%;
  translate: 0 -50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 4em;
  width: 4em;
}

input {
  width: 100%;
}

.output {
  margin-top: 32px;
}

.movie-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;

  .summary-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .image-thumb {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
  }

  .long-summary {
    grid-column: 3 / -1;
    grid-row: 3 / -1;
  }
}

.summary-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > * {
    margin: 0;
  }
}